.content {
    margin-top: 60px;
    margin-bottom: 50px;
}


body {
    font-family: $font-family-base;
    font-size: 16px;
  }

p{
    margin-left:30px;
}

  h1 {
    font-family: $font-family-title;
    font-size: 32px;
    text-transform: uppercase; 
    color: $primary;  
  }
   
  h2 {
    font-family: $font-family-title;
    font-size: 24px; 
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-family: $font-family-title;
    font-size: 18px; 
    color: $primary;
  }
  
  nav a {
    font-family: $font-family-title;
    text-transform: uppercase;
}

  .gdm-nav-level-1 {
    text-transform: unset;
 }

  .gdm-nav-level-2 {
    text-transform: unset;
    color: gray;
  }
  

  .journeymaps{
    width:800px;
    margin-bottom: 100px;
  }

  .image_TA {
    width: 300px;
    margin-top:40px;
    margin-bottom:40px;
  }
  
  .image_TA_smartphone {
    height:300px;
    margin-left: 40px;
  }

  #gevel_museum {
   width: 600px;    
  }

  .image_gebruikerstest {
   width: 600px;
   margin-right: 40px;
   margin-top:40px;
}

 .image_concept {
  width: 600px;
  
}

.style-tiles{
  width:700px;
  margin-bottom: 80px;
  margin-top:20px;
}

.uitlegfoto{
  font-size:13px;
}

.image_wireflow_smartphone{
  width:600px;
  margin-top:50px;
}

.image_wireflow_smartphone_breder{
  width:900px;
  margin-top:50px;
  margin-bottom:50px;
}

.image_screendesigns_smartphone{
  width:1000px;
  margin-bottom:50px;
}

.image_screendesigns_smartphone_nomarginbottom{
  width:1000px;
}

.sitemap{
  margin-top:50px;
  margin-bottom:70px;
  width:400px;
}

.site_smartphone{
  width:300px;
  margin-top:50px;
  margin-bottom:100px;
}

.site_desktop{
  width:900px;
  margin-top:50px;
  margin-bottom:100px;
}
