@charset "UTF-8";

.content {
    margin-top: 60px;
    margin-bottom: 50px;
}

.background-color{
    background-color:black;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-top:40px;
}

h1 {
    font-family: $font-family-title;
    font-size: 32px;
    text-transform: uppercase; 
    color: $primary; 
    margin-bottom:50px; 
}

h2 {
    font-family: $font-family-title;
    font-size: 35px; 
    text-transform: uppercase;
    color:rgb(71, 71, 71);
    margin-bottom:30px;
    padding-top:20px;
  }

  

/*TYPOGRAFIE*/

/*smartwatch*/ 


.aanduiding_fontsize{
    font-size:14px;
    font-family:$font-family-base;
    display: inline;
    color:rgb(54, 54, 54);
}

.sw_titel_n1{
    color: $primary;
    font-family: $font-family-title;
    font-size: 26px;
    text-transform: uppercase;
    display: inline;
  }

.sw_titel_n2{
    color: white;
    font-family: $font-family-title;
    font-size: 26px;
    text-transform: uppercase;
    display: inline;
    }

.sw_titel_n2_oranjebold{
    color: $primary;
    font-family: $font-family-title;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    display: inline;
}

.sw_titel_n3{
    color: white;
    font-family: $font-family-title;
    font-size: 24px;
    text-transform: uppercase;
    display: inline;
    }
.sw_citaat{
    font-family:$font-family-base;
    font-size:20px;
    color:white;
    display: inline;
    font-style: italic;
}

.sw_lopendetekst{
    font-family:$font-family-base;
    font-size:20px;
    color:white;
    display: inline;
}

.sw_titel_navigatie{
    font-family:$font-family-base;
    font-size:22px;
    color:white;
    font-weight: 100;
    display: inline;
}



/*smartphone*/ 

.sph_titel_n1{
    color: white;
    font-family: $font-family-title;
    font-size: 18px;
    text-transform: uppercase;
    display: inline;
  }

.sph_titel_n2_oranjebold{
    color: $primary;
    font-family: $font-family-title;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    display: inline;
}
.sph_titel_n2{
    color: white;
    font-family: $font-family-title;
    font-size: 26px;
    text-transform: uppercase;
    display: inline;
    }

.sph_titel_n3{
    color: white;
    font-family: $font-family-title;
    font-size: 25px;
    text-transform: uppercase;
    display: inline;
    }
    
.sph_citaat{
    font-family:$font-family-base;
    font-size:18px;
    color:white;
    display: inline;
    font-style: italic;
}

.sph_citaat_oranje{
    font-family:$font-family-base;
    font-size:18px;
    color:$primary;
    display: inline;
}
    
.sph_lopendetekst{
    font-family:$font-family-base;
    font-size:20px;
    color:white;
    display: inline;
}

.sph_titel_navigatie{
    font-family:$font-family-base;
    font-size:20px;
    color:white;
    display: inline;
    font-weight: 500;
    text-transform: uppercase;
}



/*KLEUR*/

p {
    color: white;
}

.colour-a {
    background-color: #FF8C00;
}
.colour-b {
    background-color: #FFFFFF;
    color: #000000;
}
.colour-c {
    background-color: #ACACAC;
}
.colour-d {
    background-color: #707070
}
.colour-e {
    background-color: #4D4D4D;
}
.colour-f {
    background-color: #000000;
    border: solid 1px #FFFFFF;
}


/*BUTTONS*/

.knop_watch {
    width: 200px;
    margin-right: 30px;
}

.button_museumbezoek{
    text-decoration: none;
    background-color:black;
    width:280px;
    height:42px;
    border: 1,5px solid white;
    padding-left:40px;
    margin-bottom:20px;
    display: block;
    cursor: pointer;

    text-transform: uppercase;
    font-size:18px;
    color:white;
    font-family: $font-family-title;
    text-align:left;
    display:flex;
    align-items:center;
    justify-content: space-between;
     .fa-arrow-right{
         font-size:12px;
         color:white;
         display: flex;
         padding-right:20px;
     }
}

.button_museumbezoek:active{
    text-decoration: none;
    background-color: white;
    color:black;
    font-weight:bold;
    .fa-arrow-right{
        color:black;
    }
}
.button_museumbezoek:focus {
    outline:0;
}

.button_klaar{
    text-decoration: none;
    background-color:black;
    width:313px;
    height:44px;
    border: 1,5px solid white;
    margin-bottom:20px;
    display: block;
    cursor: pointer;

    font-size:18px;
    color:white;
    font-family: $font-family-title;
}

.button_klaar:active{
    text-decoration: none;
    border: 1,5px solid white;
    background-color: white;
    color:black;
    font-weight:bold;
}

.button_klaar:focus {
    outline:0;
}

.button_nummer_invoeren{
    text-decoration: none;
    background-color:black;
    width:313px;
    height:44px;
    border: 1,5px solid $primary;
    border-color:rgb(255,140,0);
    margin-bottom:20px;
    display: block;
    cursor: pointer;

    font-size:18px;
    color:rgb(255,140,0);
    font-family: $font-family-title;
    padding-left:80px;
    display:flex;
    align-items:center;
    justify-content: space-between;
     .fa-arrow-right{
         font-size:12px;
         color:rgb(255, 140, 0);
         display: flex;
         padding-right:20px;
     }
}

.button_nummer_invoeren:active{
    text-decoration: none;
    border: 1,5px solid rgb(255, 140, 0);
    background-color: rgb(255, 140, 0);
    color:black;
    font-weight:bold;
    .fa-arrow-right{
        color:black;
    }
}

.button_nummer_invoeren:focus {
    outline:0;
}

.button_verder{
    text-decoration: none;
    background-color:black;
    width:313px;
    height:44px;
    border: 1,5px solid $primary;
    border-color:white;
    margin-bottom:20px;
    display: block;
    cursor: pointer;

    font-size:18px;
    color:white;
    font-family: $font-family-title;
    padding-left:130px;
    display:flex;
    align-items:center;
    justify-content: space-between;
     .fa-arrow-right{
         font-size:12px;
         color:white;
         display: flex;
         padding-right:20px;
     }
}

.button_verder:active{
    text-decoration: none;
    border: 1,5px solid white;
    background-color: white;
    color:black;
    font-weight:bold;
    .fa-arrow-right{
        color:black;
    }
}

.button_verder:focus {
    outline:0;
}

.button_terug{
    text-decoration: none;
    background-color:black;
    width:313px;
    height:44px;
    border: 1,5px solid $primary;
    border-color:rgb(255,140,0);
    margin-bottom:20px;
    display: block;
    cursor: pointer;

    font-size:18px;
    color:rgb(255,140,0);
    font-family: $font-family-title;
    padding-right:130px;
    display:flex;
    align-items:center;
    justify-content: space-between;
     .fa-arrow-left{
         font-size:12px;
         color:rgb(255, 140, 0);
         display: flex;
         padding-left:20px;
     }
}

.button_terug:active{
    text-decoration: none;
    border: 1,5px solid rgb(255, 140, 0);
    background-color: rgb(255, 140, 0);
    color:black;
    font-weight:bold;
    .fa-arrow-left{
        color:black;
    }
}

.button_terug:focus {
    outline:0;
}

.button_serre{
    text-decoration: none;
    background-color:black;
    width:313px;
    height:44px;
    border: 1,5px solid $primary;
    border-color:white;
    margin-bottom:20px;
    display: block;
    cursor: pointer;

    font-size:18px;
    color:white;
    text-transform: uppercase;
    font-family: $font-family-title;
    padding-left:110px;
    display:flex;
    align-items:center;
    justify-content: space-between;
     .fa-angle-down{
         font-size:20px;
         color:white;
         display: flex;
         padding-right:50px;
     }
}

.button_serre:active{
    text-decoration: none;
    border: 1,5px solid white;
    background-color: white;
    color:black;
    font-weight:bold;
    .fa-angle-down{
        color:black;
    }
}

.button_serre:focus {
    outline:0;
}

/*FORMULIER*/

.invulstrook {
    color: #000000;
    border: 2px;
    border-radius: 10px;
    background-color: #ACACAC;
    padding: 10px;
    width: 316px;
    height: 38;
}

.invulstrook_watch {
    color: #FFFFFF;
    border: 2px;
    border-radius: 20px;
    background-color: #4D4D4D;
    padding: 10px;
    width: 296px;
    height: 45;
}

